<footer class="footer section">
  <div class="footer__container container">
    <small class="footer__strong  text-reset" style="border-top: 0;">
      Mykola Chornyi, 2022
    </small>
  </div>
</footer>