<header class="header fixed-padding" id="header">
  <div class="header__container container">
    <a
      href="https://github.com/grafit-off"
      target="_blank"
      rel="noopener noreferrer"
      class="header__github link-reset">
      <span>g</span>
      <span>i</span>
      <span>t</span>
      <span>h</span>
      <span>u</span>
      <span>b</span>
    </a>
    <button
      class="header__burger burger btn-reset"
      title="Navigation list"
      aria-label="Open">
      <span class="burger__line"></span>
    </button>
    <nav class="header__nav nav">
      <div class="nav__wrap">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a
              href="https://grafit-off.github.io/grafit-off/site/"
              class="nav__link {{main}} link-reset">Home</a>
          </li>
          <li class="nav__item">
            <a
              href="https://grafit-off.github.io/grafit-off/site/portfolio/"
              class="nav__link {{ portfolio }} link-reset">Portfolio</a>
          </li>
          <li class="nav__item">
            <a
              href="https://grafit-off.github.io/grafit-off/site/summary/"
              class="nav__link {{summary}} link-reset">CV</a>
          </li>
          {# <li class="nav__item">
                      <a
                        href="https://grafit-off.github.io/grafit-off/site/blog/"
                        class="nav__link {{blog}} link-reset">Blog</a>
                    </li> #}
        </ul>
        <ul class="nav__social social list-reset">
          <li class="social__item">
            <a
              href="tg://resolve?domain=ncl_ch"
              class="social__link link-reset"
              title="Telegram"
              aria-label="Visit telegram"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="social__svg social__svg--tg">
                <use xlink:href="https://grafit-off.github.io/grafit-off/site/assets/img/sprite.svg#tg-min"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="viber://add?number=380981078738"
              class="social__link link-reset"
              title="Viber"
              aria-label="Open viber"
              target="_blank"
              rel="noopener noreferrer">
              <svg class="social__svg">
                <use xlink:href="https://grafit-off.github.io/grafit-off/site/assets/img/sprite.svg#viber-min"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <span class="nav__overlay" title="Close navigation list"></span>
    </nav>
    <div class="header__block">
      <ul class="header__social social list-reset">
        <li class="social__item">
          <a
            href="tg://resolve?domain=ncl_ch"
            class="social__link link-reset"
            title="Telegram"
            aria-label="Visit telegram"
            target="_blank"
            rel="noopener noreferrer">
            <svg class="social__svg social__svg--tg">
              <use xlink:href="https://grafit-off.github.io/grafit-off/site/assets/img/sprite.svg#tg-min"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="viber://add?number=380981078738"
            class="social__link link-reset"
            title="Viber"
            aria-label="Open viber"
            target="_blank"
            rel="noopener noreferrer">
            <svg class="social__svg">
              <use xlink:href="https://grafit-off.github.io/grafit-off/site/assets/img/sprite.svg#viber-min"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        class="header__theme-switcher btn-reset"
        type="button"
        title="Change theme"
        aria-label="Change theme">
        <svg>
          <use xlink:href="https://grafit-off.github.io/grafit-off/site/assets/img/sprite.svg#theme-switcher"></use>
        </svg>
      </button>
    </div>
  </div>
</header>