<meta charset="UTF-8">
<meta
    name="viewport"
    content="width=device-width, viewport-fit=cover, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content='telephone=no'/>
<meta name="format-detection" content='address=no'/>
<meta name="theme-color" content='#ffffff'/>
<meta
      name="description"
      content="Hi! I am Frontend developer with more than a year of practice in the
        development of SPA using React, Redux, TypeScript and Webpack."/>
<meta name="keywords" content="web, front-end, css, html, js"/>
<meta name="Author" content="Mykola Chornyi"/>
<meta name="Copyright" content="Mykola Chornyi"/>
<meta name="Address" content="Ukraine, Kyiv"/>
<meta property="og:locale" content="ru_RU"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="grafit-off"/>
<meta property="og:title" content="Mykola Chornyi - Frontend Developer"/>
<meta
      property="og:description"
      content="I am Frontend developer with more than a year of practice in the
        development of SPA using React, Redux, TypeScript and Webpack."/>