<!DOCTYPE html>
<html lang="en" class="html">
  <head>
    {% include "head-meta.njk" %} <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../assets/resources/favicons/apple-icon-57x57.png">
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../assets/resources/favicons/apple-icon-60x60.png">
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../assets/resources/favicons/apple-icon-72x72.png">
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/r/esources/favicons/apple-icon-76x76.png">
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../assets/resources/favicons/apple-icon-114x114.png">
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../assets/resources/favicons/apple-icon-120x120.png">
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../assets/resources/favicons/apple-icon-144x144.png">
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../assets/resources/favicons/apple-icon-152x152.png">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/resources/favicons/apple-icon-180x180.png">
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../assets/resources/favicons/android-icon-192x192.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/resources/favicons/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../assets/resources/favicons/favicon-96x96.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="../assets/resources/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta
      name="msapplication-TileImage"
      content="../assets/resources/favicons/ms-icon-144x144.png">
    <link
      rel="preload"
      href="../assets/fonts/FuturaPT-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link
      rel="preload"
      href="../assets/fonts/FuturaPT-Book.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link
      rel="preload"
      href="../assets/fonts/FuturaPT-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link rel="stylesheet" href="../assets/css/portfolio.min.css"/>
    <title>Mykola Chornyi - portfolio</title>
  </head>
  <body class="body">
    <div class="wrap">
      {% include "header.njk" %}
      <main class="main-content">
        <section class="portfolio">
          <div class="portfolio__container container" style="margin-bottom: 0;">
            <div class="portfolio__info">
              <h1 class="portfolio__heading text-reset">
                Portfolio
              </h1>
              <p class="portfolio__descr text-reset">
                My projects
              </p>
            </div>
            <ul class="portfolio__list list-reset">
              {% for project in projects | reverse %}
                <li class="portfolio__item ">
                  <article class="project">
                    <div class="project__info">
                      <h2 class="project__heading text-reset">
                        {{ project.shortname }}
                      </h2>
                      <p class="project__descr text-reset">
                        {{ project.title }}
                      </p>
                    </div>
                    <div class="project__image">
                      <img src="{{ project.image }}" alt class="project__img">
                    </div>
                    <a href="{{ project.link }}" class="project__link link-reset" aria-label="Просмотреть работу" target="_blank" rel="noopener noreferrer"></a>
                  </article>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        {# {% include "promo-blog.njk" %} #}
      </main>
      {% include "footer.njk" %}
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
</html>