<!DOCTYPE html>
<html lang="en" class="html">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, viewport-fit=cover, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content='telephone=no'/>
    <meta name="format-detection" content='address=no'/>
    <meta
    name="theme-color" content='#ffffff'/> <!-- Ссылка на сайт -->
    <meta
      name="description"
      content="Заказ адаптивно-отзывчивой, валидной, семантической верстки. Качественно
        и быстро!"/>
    <meta
      name="keywords"
      content="верстка, заказать верстку, сайт, разработка, HTML, CSS"/>
    <meta name="Author" content="Николай Чёрный"/>
    <meta name="Copyright" content="Николай Чёрный"/>
    <meta name="Address" content="Украина, Киев"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="grafit-off"/>
    <meta
      property="og:title"
      content="GRAFIT-OFF - адаптивная верстка сайтов, заказать верстку"/>
    <meta
      property="og:description"
      content="Заказ адаптивно-отзывчивой, валидной, семантической верстки. Качественно
        и быстро!"/>
    <meta
    property="og:image" content="../assets/img/cyber-notebook.jpg"/> <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../assets/resources/favicons/apple-icon-57x57.png">
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../assets/resources/favicons/apple-icon-60x60.png">
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../assets/resources/favicons/apple-icon-72x72.png">
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/resources/favicons/apple-icon-76x76.png">
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../assets/resources/favicons/apple-icon-114x114.png">
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../assets/resources/favicons/apple-icon-120x120.png">
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../assets/resources/favicons/apple-icon-144x144.png">
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../assets/resources/favicons/apple-icon-152x152.png">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/resources/favicons/apple-icon-180x180.png">
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../assets/resources/favicons/android-icon-192x192.png">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/resources/favicons/favicon-32x32.png">
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../assets/resources/favicons/favicon-96x96.png">
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="../assets/resources/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta
      name="msapplication-TileImage"
      content="../assets/resources/favicons/ms-icon-144x144.png">
    <link
      rel="preload"
      href="../assets/fonts/FuturaPT-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link
      rel="preload"
      href="../assets/fonts/FuturaPT-Book.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link
      rel="preload"
      href="../assets/fonts/FuturaPT-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link rel="stylesheet" href="../assets/css/summary.min.css"/>
    <title>Mykola Chornyi - CV</title>
  </head>
  <body class="body">
    <div class="wrap">
      {% include "header.njk" %}
      <main class="main-content">
        <section class="summary section">
          <div class="summary__container container">
            <h1 class="summary__heading text-reset">
              CV
            </h1>
            <div class="summary__promo">
              <div class="summary__info">
                <div class="summary__name">
                  Mykola Chornyi
                </div>
                <h2 class="summary__subheading summary-text text-reset ">
                  What job am I looking for?
                </h2>
                <div class="summary__work summary-text text-reset ">
                  Front-End Developer
                </div>
              </div>
              <div class="summary__image">
                <svg>
                  <use xlink:href="../assets/img/sprite.svg#G-min"></use>
                </svg>
              </div>
            </div>
            <div class="summary__body">
              <h2 class="summary__subheading text-reset">
                Summary
              </h2>
              <p class="summary__text summary-text text-reset">
                Hi! I'm a Front-End Developer, strive to constantly improve myself, and create
                flexible, fast and semantic websites with great looks. I love to learn, and my
                experience has taught me only one thing, practice is the place you learn the
                most. All my projects gave me immense pleasure of learning. I am well-versed in
                creating SPA using React, Redux and TypeScript. Have experience in writing
                flexible and adaptive websites. My markup is semantic and accessible to people
                with disabilities. To achieve greater productivity, I use Gulp and Webpack
                bundlers, also have experience in writing and customizing my own builds. I am
                involved in gaining new knowledge and intend to learn Vue and React Native. I am
                open to suggestions and ready for dialogue!
              </p>
              <div class="summary__row">
                <div class="summary__column">
                  <h3 class="summary__list-heading text-reset">Tech stack:
                  </h3>
                  <ul class="summary__list list-reset  summary-text">
                    <li class="summary__item">
                      HTML5, CSS3, ARIA
                    </li>
                    <li class="summary__item">
                      SCSS (var, nesting, partials, mixins, extend/inheritance)
                    </li>
                    <li class="summary__item">
                      JavaScript, TypeScript
                    </li>
                    <li class="summary__item">
                      React, Redux (subscribe, dispatch, actions, reducers, redux-thunks), axios,
                      reselect, Rest API, formik, redux-form, hooks
                    </li>
                    <li class="summary__item">
                      BEM, Pixel Perfect
                    </li>
                    <li class="summary__item">
                      GULP, Webpack
                    </li>
                    <li class="summary__item">
                      Figma, Avocode, Photoshop, SVG, SVG Sprites.
                    </li>
                  </ul>
                </div>
              </div>
              <p class="summary__portfolio text-reset">
                You can see my projects in the
                <a href="../portfolio/" class="summary__link link-reset">
                  Portfolio
                </a>
              </p>
              <h2 class="summary__subheading text-reset">
                Language
              </h2>
              <ul class="summary__list list-reset  summary-text">
                <li class="summary__item">
                  English — intermediate
                </li>
                <li class="summary__item">
                  Ukrainian — native
                </li>
              </ul>
              <h2 class="summary__subheading text-reset">
                Education
              </h2>
              <ol class="summary__education-list  list-reset">
                <li class="summary__education-item">
                  <span class="summary__education-text">
                    Master's degree in Telecommunication and Radio Engineering
                  </span>
                  <span class="summary__education-text">
                    National Aviation University, Radio-electronic devices, systems and complexes
                  </span>
                  <span class="summary__education-text">
                    2021-2022
                  </span>
                </li>
              </ol>
            </div>
          </div>
        </section>
        {# {% include "promo-blog.njk" %} #}
      </main>
      {% include "footer.njk" %}
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
</html>